//mixin easyOut

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.top{
	display:none;
	background-color: $blanco;
	//position: relative;
	@include desde (web){
		display: block;
		padding:10px 15px;
	}

	.logo-top{
		@include desde (prehd){
			margin-left: 15px;
		}
	}

	.topdress{
		margin: 0;
		padding:0;
		list-style: none;
		position: relative;
		display: block;
		height: 90px;
		ul{
			margin: 0;
			padding:0;
			list-style-type: none;
			position: absolute;
			bottom:0;
			right: 0;
			li{
				color: $azul;
				display: inline-block;
				font-size: 12px;
				font-weight: $bold;
				margin-right: 3px;

				& span{
					color:$gold;
				}
			}
		}

	}
}

header{
	height: 50px;
	background-color: $azul;
	padding: 25px 12px;
	position: relative;
	@include desde (movil){
		height: 65px;
	}
	@include desde (tablet){
		height: 80px;
	}
	@include desde (web){
		padding:0;
		height: auto;
	}

	.logo-bar{
		margin-top: -10px;
		img{
			width: 45%;
			@include desde (tablet){
				width: 30%;
			}
		}//img
		@include desde (tablet){
			margin-top: -5px;
		}
		@include desde (web){
			display: none;
		}
	}

	.header{
		width: 100%;
		z-index: 5;
		position: fixed;
	}

	.burger{
		position: absolute;
		z-index: 10;
		right: 12px;
		top: 18px;
		cursor: pointer;
		transform: rotateY(0);
		@include easeOut;
		@include desde (tablet){
			
		}
		@include desde (web){
			display: none;
		}

		&__patty{
			width: 28px;
			height: 2px;
			margin: 0 0 4px 0;
			background: white;
			@include easeOut;

			&:last-child{
				margin-bottom: 0;
			}
		}

		//transformar burger en 'X'

		&--close{
			transform: rotate(180deg);

			.burger__patty{
				&:nth-child(1){
					transform: rotate(45deg) translate(4px, 4px);
				}
				&:nth-child(2){
					opacity: 0;
				}
				&:nth-child(3){
					transform: rotate(-45deg) translate(5px, -4px);
				}
			}
		}//fin close
	}//fin.burger


.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 9;
  left: 0;
  @include desde (web){
  	visibility: visible;
  	position: static;
  }
  .logo-M{
    width: 50%;
    position: relative;
    margin: 0 auto;
    top: 0%;
    @include desde (tablet){
    	margin-bottom: 2em;
    	width: 100%;
    	text-align: center;

    }
    @include desde (web){
    	display: none;
    }
  }

	.adress{
		background-color: $blanco;
		padding:20px 0;
		position: relative;
		bottom:0;
		left: 0;
		right: 0;

		ul{
			margin:0 0 0 0;
			padding:0 0 0 0;
			height: auto;
			a{
				display: inline-block;
				color: $more-claro;
				font-weight: $normal;
				text-align: center;
				margin:0 auto;
				width: 100%;
				@include desde (tablet){
					font-size: 1.3em;
				}
				span{
					color: $gold;
					font-weight: $extra-bold;
				}
			}
		}
		@include desde (web){
			display: none;	
		}		
	}



  &--active {
    visibility: visible;
  }
  
  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 90vh;//auto
    overflow: hidden;
    @include desde (web){
    	flex-direction: row;
    	justify-content: flex-end;
    	height: auto;
    }
  }

  &__brand{
  	display: none;
  }
  
  &__list {
    margin: 0;
    padding: 0;
    background: $azul;//mix(black, white, 20)
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    @include desde (web){
    	transform: none;
    	padding-right: 30px;
    }
    @include desde (prehd){
    	padding-right:20px;
    }
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  
  &__brand {
    background: $azul;
    //@include easeOut;
    transform: translate3d(0, 100%, 0);
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  
  &__item {
    transform: translate3d(500px, 0, 0);
    //@include easeOut;
    @include desde (tablet){
    	transform: translate3d(600px, 0, 0);
    }
    @include desde (web){
    	transform: none;
    	margin-left: 45px;
	    	&:last-child{
	    		margin-left: 0;
	    	}
    }
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

 
  &__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    @include easeOut;
    font-size: 0.9em;
    font-weight: $bold;
    @include desde (tablet){
    	font-size: 1.4em;
    }
    @include desde (web){
    	font-size: 12px;
    }
    
    // &:before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 50%;
    //   width: 10px;
    //   height: 2px;
    //   background: white;
    //   transform: translateX(-50%);
    //   @include easeOut;
    // }
    
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }


  
  // add delay to each menu item
  @for $x from 1 through 10 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * 0s;
    }
  }
}








	// .logo-mobile{
	// 	width: 100%;


	// 	img{
	// 		width: 50%;
	// 		@include desde (tablet){
	// 			width: 30%;
	// 		}
	// 	}
	// }
}//fin header




