//mixin easyOut

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.top{
	display:none;
	background-color: $blanco;
	//position: relative;
	@include desde (web){
		display: block;
		padding:10px 15px;
	}

	.logo-top{
		@include desde (prehd){
			margin-left: 15px;
		}
	}

	.topdress{
		margin: 0;
		padding:0;
		list-style: none;
		position: relative;
		display: block;
		height: 90px;
		ul{
			margin: 0;
			padding:0;
			list-style-type: none;
			position: absolute;
			bottom:0;
			right: 0;
			li{
				color: $azul;
				display: inline-block;
				font-size: 12px;
				font-weight: $bold;
				margin-right: 3px;

				& span{
					color:$gold;
				}
			}
		}

	}
}

header{
	height: 50px;
	background-color: $azul;
	padding: 25px 12px;
	position: relative;
	@include desde (movil){
		height: 65px;
	}
	@include desde (tablet){
		height: 80px;
	}
	@include desde (web){
		padding:0;
		height: auto;
	}

	.logo-bar{
		margin-top: -10px;
		img{
			width: 45%;
			@include desde (tablet){
				width: 30%;
			}
		}//img
		@include desde (tablet){
			margin-top: -5px;
		}
		@include desde (web){
			display: none;
		}
	}

	.header{
		width: 100%;
		z-index: 5;
		position: fixed;
	}

	.burger{
		position: absolute;
		z-index: 10;
		right: 12px;
		top: 18px;
		cursor: pointer;
		transform: rotateY(0);
		@include easeOut;
		@include desde (tablet){
			
		}
		@include desde (web){
			display: none;
		}

		&__patty{
			width: 28px;
			height: 2px;
			margin: 0 0 4px 0;
			background: white;
			@include easeOut;

			&:last-child{
				margin-bottom: 0;
			}
		}

		//transformar burger en 'X'

		&--close{
			transform: rotate(180deg);

			.burger__patty{
				&:nth-child(1){
					transform: rotate(45deg) translate(4px, 4px);
				}
				&:nth-child(2){
					opacity: 0;
				}
				&:nth-child(3){
					transform: rotate(-45deg) translate(5px, -4px);
				}
			}
		}//fin close
	}//fin.burger


.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 9;
  left: 0;
  @include desde (web){
  	visibility: visible;
  	position: static;
  }
  .logo-M{
    width: 50%;
    position: relative;
    margin: 0 auto;
    top: 0%;
    @include desde (tablet){
    	margin-bottom: 2em;
    	width: 100%;
    	text-align: center;

    }
    @include desde (web){
    	display: none;
    }
  }

	.adress{
		background-color: $blanco;
		padding:20px 0;
		position: relative;
		bottom:0;
		left: 0;
		right: 0;

		ul{
			margin:0 0 0 0;
			padding:0 0 0 0;
			height: auto;
			a{
				display: inline-block;
				color: $more-claro;
				font-weight: $normal;
				text-align: center;
				margin:0 auto;
				width: 100%;
				@include desde (tablet){
					font-size: 1.3em;
				}
				span{
					color: $gold;
					font-weight: $extra-bold;
				}
			}
		}
		@include desde (web){
			display: none;	
		}		
	}



  &--active {
    visibility: visible;
  }
  
  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 90vh;//auto
    overflow: hidden;
    @include desde (web){
    	flex-direction: row;
    	justify-content: flex-end;
    	height: auto;
    }
  }

  &__brand{
  	display: none;
  }
  
  &__list {
    margin: 0;
    padding: 0;
    background: $azul;//mix(black, white, 20)
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    @include desde (web){
    	transform: none;
    	padding-right: 30px;
    }
    @include desde (prehd){
    	padding-right:20px;
    }
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  
  &__brand {
    background: $azul;
    //@include easeOut;
    transform: translate3d(0, 100%, 0);
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  
  &__item {
    transform: translate3d(500px, 0, 0);
    //@include easeOut;
    @include desde (tablet){
    	transform: translate3d(600px, 0, 0);
    }
    @include desde (web){
    	transform: none;
    	margin-left: 45px;
	    	&:last-child{
	    		margin-left: 0;
	    	}
    }
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

 
  &__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    @include easeOut;
    font-size: 0.9em;
    font-weight: $bold;
    @include desde (tablet){
    	font-size: 1.4em;
    }
    @include desde (web){
    	font-size: 12px;
    }
    
    // &:before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 50%;
    //   width: 10px;
    //   height: 2px;
    //   background: white;
    //   transform: translateX(-50%);
    //   @include easeOut;
    // }
    
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }


  
  // add delay to each menu item
  @for $x from 1 through 10 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * 0s;
    }
  }
}








	// .logo-mobile{
	// 	width: 100%;


	// 	img{
	// 		width: 50%;
	// 		@include desde (tablet){
	// 			width: 30%;
	// 		}
	// 	}
	// }
}//fin header
section{
	.slider{
		width: 100%;
		background-size:cover;
		img{
			display: block;
		}
		@include desde (web){
			height: auto;
			position:relative;
		}
	}
	.text-slider{
		padding:30px 20px;
		@include desde (web){
			position: absolute;
			top: 185px;
			left: 30px;
			width: 455px;
			height: 250px;
			padding:20px 35px;
		}
		@include desde (prehd){
			left: 115px;
		}
		@include desde (hd){
			left: 320px;//139
		}
		p.text-llamado{
			text-align:left;
			background-color:$azul;
			color:$blanco;
			font-family: 'Montserrat' , sans-serif;
			font-weight: $bold;
			font-size: 1.5em;
			width: 90%;
			letter-spacing: 1px;
			margin-bottom: 0.3em;
			margin: 0;
			line-height: 1.5;
		}
		p.text-title{
			text-align:left;
			background-color:$rosa;
			font-family: 'Montserrat' , sans-serif;
			color:$blanco;
			font-weight: $bold;
			font-size: 1.4em;
			width: 90%;
			letter-spacing: 1px;
			margin-bottom: 0.3em;
			margin: 0 0 10px 0;
			line-height: 1.5;
		}	
	}
	.login-slider{
		background-color:$blanco;
		padding:20px;
		position:absolute;
		top: 189px;
		left: 30px;
		width: 257px;
		height: 479px;
		h5{
			color:$azul;
		}
		input.ed-item.base-100 {
			padding:5px;
			margin: 0 0 12px 0;
			border: 1px solid $gris-claro;
			border-radius:5px;
		}
		a.btn{
			font-size: 0.8em;
			color: $blanco;
			background-color:$azul;
			padding:8px 105px;
			width: 100%;
			text-align: center;
			border-radius:5px;
			font-family: 'Montserrat',sans-serif;
			font-weight: $bold;
		}
	}
}
section{
	.banner,.banner-2,.banner-3{
		width: 100%;
		//height: auto;///170
		background-size:cover;
		img{
			display: block;
		}
		@include desde (web){
			height: 300px;
			overflow: hidden;
			position:relative;
			
		}
	}

	.banner-2{
		background-position: -65px 0;
		background:url(../img/sillon.jpg) 0 center/122%;
    	@include desde (web){
			background-position: 0px -130px;
			background:url(../img/sillon.jpg) 0 center/100%;
    	}
	}

	.banner-3{
		//background-position: -65px 0;
		height: 170px;
		background:url(../img/calefaccion-central.jpg) -68px center/122%;
		@include desde (movil){
			height: 255px;
		}
		@include desde (tablet){
			height: 370px;
			background:url(../img/calefaccion-central.jpg) -68px center/110%;
		}
    	@include desde (web){
			height: 300px;
			background: url(../img/calefaccion-central.jpg) 0 -150px/100%;
    	}
    	@include desde (prehd){
    		background: url(../img/calefaccion-central.jpg) 0 -250px/100%;
    	}
	}

	.claim-banner{
		padding:35px 20px;
		background-color: $azul;
		@include desde (web){
			position: absolute;
			top: 185px;
			left: 30px;
			width: 455px;
			height: 250px;
			padding:20px 35px;
		}

		@include desde (prehd){
			left: 115px;
		}
		@include desde (hd){
			left: 190px;//139
		}

		h1{
			color:$blanco;
			text-align: center;
			color:$blanco;
			font-weight: $extra-bold;
			font-size: 1.4em;
			width: 90%;
			letter-spacing: 1px;
			margin-bottom: 0.3em;
			margin: 0 auto 10px auto;
			line-height: 1.5;
			& span{
				font-weight: $normal;
			}
			@include desde(web){
				text-align: left;
				margin: 0;
			}
		}
		p{
			color:$blanco;
			text-align: center;
			text-transform: uppercase;
			font-size: 0.9em;
			font-weight: $extra-bold;
			margin-bottom: 25px;
			@include desde(web){
				text-align: left;
				//margin: 0;
				font-size: 10px;
			}
		}
		hr{
		   height:2px; 
		   background-color:$azul-oscuro; 
		   border:none;
		   width: 60%;
		   margin: 0 auto 25px auto;
		   @include desde (web){
		   	display:none;
		   }
		}
		ul.data-product{
			margin:0;
			padding:0;
			list-style-type: none;
			li{
				color:$blanco;
				position: relative;
				text-align: center;
				font-size: 0.65em;
				margin-bottom: 10px;
				@include desde (movil){
					font-size: 0.8em;
				}
				@include desde (tablet){
					font-size: 0.9em;
				}
				@include desde (web){
					text-align: left;
					padding-left: 10px;
					font-size: 0.8em;
				}
			}
		}
		//helper
		span.bullet-one,
		span.bullet-two,
		span.bullet-three,
		span.bullet-four{
			&:before{
				content:"";
				width: 3px;
				height: 3px;
				background-color: $blanco;
				border-radius:50px;
				position: absolute;
				margin-right: 5px;
				top: 6px;
				@include desde (movil){
					top:7px;
				}
				@include desde (web){
					left: 0;
				}
			}
		}
		span.bullet-one{
				&:before{
				left: 0px;
				@include desde (movil){
					left: 40px;
				}
				@include desde (tablet){
					left: 166px;
					top: 10px;
				}
				@include desde (web){
					left: 0;
					top: 8px;
				}
			}
		}
		span.bullet-two{
				&:before{
				left: 30px;
				@include desde (movil){
					left: 80px;
				}
				@include desde (tablet){
					left: 210px;
					top: 10px;
				}
				@include desde (web){
					left: 0;
					top: 8px;
				}
			}
		}
		span.bullet-three{
				&:before{
				left: 37px;
				@include desde (movil){
					left: 87px;
				}
				@include desde (tablet){
					left: 219px;
					top: 10px;
				}
				@include desde (web){
					left: 0;
					top: 8px;
				}
			}
		}
		span.bullet-four{
				&:before{
				left: 57px;
				@include desde (movil){
					left: 115px;
				}
				@include desde (tablet){
					left: 248px;
					top: 10px;
				}
				@include desde (web){
					left: 0px;
					top: 8px;
				}
			}
		}

	}//fin claim

	.claim-banner-img-top{
		padding:40px 10px;
		background-color: $azul;
		@include desde (web){
		    position: absolute;
		    top: 185px;
		    left: 30px;
		    width: 455px;
		    height: 250px;
		    padding: 20px 35px;
		}

		@include desde (prehd){
			left: 115px;
		}

		@include desde (hd){
			left: 190px;
		}

		h1{
			width: 100%;
			background-color: $azul;
			color: $blanco;
			margin: 0;
			font-size: 1.4em;
			text-align: center;
			font-weight: $extra-bold;
			@include desde (web){
				text-align: left;
			}
		}
		p{
			color:$blanco;
			text-align: center;
			font-size: 1.3em;
			margin-bottom: 0;
			@include desde (web){
				text-align: left;
			}
		}
		.from{
			font-weight: $extra-bold;
			font-size: 0.8em;
			@include desde (web){
				text-align: left;
			}
		}
		hr{
		   height:2px; 
		   background-color:$azul-oscuro; 
		   border:none;
		   width: 60%;
		   margin: 25px auto 25px auto;
			@include desde (web){
				display: none;
			}
		}
		.text-bajada{
			font-size: 0.9em;
			text-align: center;
			padding:0 18px;
			margin-bottom: 10px;
			@include desde (web){
				text-align: left;
				margin: 30px 0 0 0;
				padding:0;
				font-size: 0.7em;
				font-weight: $normal;
				line-height: 20px;
			}
		}
	}

}//fin section


//breadcrumb
.bread{
	display:block;
	@include desde (web){
		display: block;
		background-color: $gris-claro;
	}


.breadcrumb{
	width: 100%;
	height:47px;
	//padding:0 15px;
	display: none;
	@include desde (web){
		display: block;
		padding: 0 30px;
	}
	ul{
		margin: 0;
		padding:0;
		list-style-type: none;
		li{
			display: inline-block;
			//padding:20px 0;
			line-height: 47px;
			a{
				color:$gris-text; 
				text-align: left;
				font-weight: $semi-bold;
				font-size: 12px;
			}
		}
	}
}




	.title-model{
		width: 100%;
		background-color: $gris-claro;
		height: 47px;
		line-height: 47px;
		margin-top: 18px;
		@include desde (tablet){
			margin-top: 0;
		}	
		h2{
			color:$azul-claro;
			font-weight: $extra-bold;
			font-size: 1em;//1.5
			margin: 0;
			text-align: center;
			span{
				font-weight: $semi-bold;
			}
			@include desde (tablet){
				font-size: 1.5em;
				margin-top: 0;
				text-align: left;
				margin-left: 18px;
			}
			@include desde (web){
				margin-left: 30px;
			}
		}
	}
}
