section.entrar{
	background-color:$azul-fondo;
	color:$blanco;
	.entrar-text{
		h2{
			font-family: $body--font-family;
			font-size: 1.1em;
			font-weight: $bold;
		}
		p{
			font-family: $body--font-family;
			font-size: 0.8em;
			font-weight: $normal;
		}
	}
	form.formulario{
		border:1px solid #FFF;
		padding:25px 20px;
		text-align:center;
		width: 100%;
		input[type="text"]{
			width: 100%;
			display: block;
			margin:15px auto;
			padding:10px 8px;
		}
		input[type="submit"]{
			font-family: $body--font-family;
			color:$blanco;
			background-color:$rosa;
			padding:10px 30px;
			border:0;
			box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
			border-radius:3px;
			font-weight: $bold;
		}
	}
	.botones{
		margin: 30px;
		text-align: center;
		a{
			font-family: $body--font-family;
			color:#FFF;
			padding: 15px;
			background-color:$rosa;
			font-weight: $bold;
			font-size: 0.8em;
			display: block;
			width: auto;
			margin: 10px;
			box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
		}
	}
}
section.legal-entrar{
	background-color:$azul-footer;
	color:$blanco;
}
