doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/styles.css")
		link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		title Metrogas
	body
		header
			.ed-container
				.ed-item.base-50.movil-30.web-80
					.box-1
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, non provident est cumque, ea aperiam dignissimos adipisci praesentium consequatur sequi voluptatibus. Rerum obcaecati, minus provident aliquid quis, excepturi beatae veritatis.
				.ed-item.base-50.movil-70.web-20
					.box-2
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas doloremque at, facilis, totam mollitia doloribus accusantium cupiditate quisquam corrupti ex et expedita quaerat aut illo quo, nihil ad sunt officiis.

		section
			.ed-container
				.ed-item.base-100
					.slider
						img(src="", alt="")

		nav
			ul 
				li
					a(href="") menu 1
						span ups
				li
					a(href="") menu 2
				li
					a(href="") menu 2
					

				

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="js/scripts.js")
