doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    title Metrogas
  body
    .top
      .ed-container
        .ed-item.web-50
          .logo-top
            img(src="img/logometrogas.png", alt="Metrogas")
        .ed-item.web-50
          .topdress
            ul
              li LLÁMENOS AL 
                span 600 3378000   
              li DESDE CELULARES AL 
                span 2 2337 8000

    header.header
      .logo-bar
        img(src="img/logo_ok.svg", alt="")
      .ed-container
        .ed-item.web-100.no-padding
          .burger
            .burger__patty
            .burger__patty
            .burger__patty
          nav.menu
            .menu__brand
              a(href='')
                .logo
            ul.menu__list
              .logo-M
                img(src="img/logo_ok.svg", alt="")
              li.menu__item(style="display:none;")
                a.menu__link.menu__link(href='') INICIO
              li.menu__item
                a.menu__link(href='') COMO ELEGIR
              li.menu__item
                a.menu__link(href='') CALEFACCIÓN CENTRAL          
              li.menu__item
                a.menu__link.menu__link(href='') RECAMBIO DE CALDERA          
              li.menu__item
                a.menu__link.menu__link(href='') ESTUFAS
              li.menu__item
                a.menu__link.menu__link(href='') SOLICITAR
              li.menu__item
                a.menu__link.menu__link(href='') INICIO
              .adress
                ul
                  a(href='') Llámenos al <span>600 3378000</span>
                  a(href='') Desde celulares al <span>2 2337 8000</span>   

                


          //- .logo-mobile
          //-   img(src="img/logo_ok.svg", alt="Metrogas")
        //-.ed-item.web-80.main-end.cross-center
          | Versión 1.2
    section
      .ed-container.full
        .ed-item.base-100.no-padding.hd-100
          .slider
            img(src="img/slider_1.png", alt="Slide 1")
          .ed-container  
            .ed-item.web-30.movil-30.base-100.text-slider
              img(src="img/logo_metrobolsas.png", alt="")
              p.text-llamado ¡Ya comenzó la preventa!
              p.text-title La mejor calefacción al mejor precio
            .ed-item.base-100.movil-100.hd-20.web-20.login-slider
              h5 Ingresar por dirección
              input.ed-item.base-100(type="text",placeholder="Rut: 172738327-7",name="Rut")
              input.ed-item.base-100(type="text",placeholder="Comuna",name="")
              input.ed-item.base-100(type="text",placeholder="Calle",name="")
              input.ed-item.base-100(type="text",placeholder="Número Cliente",name="Numero-cliente")
              input.ed-item.base-100(type="text",placeholder="Depto/Casa",name="depto")
              a.ed-item.btn.base-100(href="") entrar
              h5 Ingresar por número cliente
              input.ed-item.base-100(type="text",placeholder="Rut: 172738327-7",name="Rut")
              input.ed-item.base-100(type="text",placeholder="Comuna",name="")
              a.btn.ed-item.base-100(href="") entrar

    //- section
    //-   .ed-container.full
    //-     .ed-item.web-100.no-padding.hd-100
    //-       .banner
    //-         img(src="img/slider_1.png", alt="una caldera es más que seguridad")
    //-       .claim-banner
    //-         h1 UNA CALDERA ES 
    //-           span MÁS SEGURIDAD
    //-         p DESDE 2.500.000 CON INSTALACIÓN.
    //-         hr
    //-         ul.data-product
    //-           li 
    //-             span.bullet-one
    //-             |El gas Natural es más económico que otros combustibles
    //-           li 
    //-             span.bullet-two
    //-             |Produce 0% contaminación intradomiciliaria
    //-           li 
    //-             span.bullet-three
    //-             |No produce humedad dentro de tu hogar
    //-           li 
    //-             span.bullet-four
    //-             |Disfrutas de suministro continuo
    //-           //- li.bullet El gas Natural es más económico que otros combustibles
    //-           //- li.bullet Produce 0% contaminación intradomiciliaria
    //-           //- li.bullet No produce humedad dentro de tu hogar 
    //-           //- li.bullet Disfrutas de suministro continuo
    section.video
      .ed-container
          .ed-item.base-100.web-30
            h3 ¿Qué son las
            h3 Metrobolsas?
          .ed-item.base-100.web-70
            p un sistema que te permitirá ahorrar en calefacción durante los meses de mayo a septiembre de 2017.
      .ed-container
        iframe(src="https://player.vimeo.com/video/151650413?title=0&byline=0&portrait=0",width="100%",height="600px",frameborder="0")
    section
      .ed-container.grafico
        .ed-item.web-100
          nav
            ul
              li.menu__item
                a.menu__link(href="#") ¿Cómo operan las metrobolsas?
              li.menu__item
                a.menu__link(href="#") Ahorra este invierno
              li.menu__item
                a.menu__link(href="#") Aplana tu gasto
              li.menu__item
                a.menu__link(href="#") Asegura tu tarifa
        .ed-item.base-100.web-30.texto
          h5 Las Metrobolsas se activan durante los meses de mayo a septiembre,
          h6 ambos inclusive y operan sobre los 60m3
          p Durante este periodo tu consumo se facturará de la siguiente manera:
          p Los primeros 60m3 de gas natural se facturarán a tarifa residencial BCR01
          p Todo el consumo del mes superior a los 60m3, será descontado de tu Metrobolsa
          p Una vez agotados los metros cúbicos de tu Metrobolsa, tu consumo de gas natural será facturado de acuerdo a  la tarifa residencial BCR01
        .ed-item.base-100.web-70.imagen
          img(src="img/grafico.jpg")
    
    section.compras
      .ed-container.full
        .ed-item.base-100
          .imagen-familia
            img(src="img/fondo_compras.jpg")
            .texto-familia
              p.text-compras Varias  Metrobolsas para elegir
              h3.text-compras Una a tu medida
              h3.text-compras desde  $000.0000 hasta $0.000.000 

    section.legal
      .ed-container
        .ed-item.base-100.tablet-100
          p.first <span>*(1)</span> Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta uere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta . Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
        .ed-item.base-100.tablet-100
          p.second <span>*(2)</span> Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta uere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta . Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
    footer
      .ed-container
        .ed-item.base-100.tablet-50.no-padding
          a(href="#") Bases de la promoción
        .ed-item.base-100.tablet-50.no-padding
          .logo-footer
            img(src="img/logo_ok.svg", alt="Metrogas")









    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
