doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    title Metrogas
  body
    .top
      .ed-container
        .ed-item.web-50
          .logo-top
            img(src="img/logo-metro-top.jpg", alt="Metrogas")
        .ed-item.web-50
          .topdress
            ul
              li LLÁMENOS AL 
                span 600 3378000   
              li DESDE CELULARES AL 
                span 2 2337 8000

    header.header
      .logo-bar
        img(src="img/logo_ok.svg", alt="")
      .ed-container
        .ed-item.web-100.no-padding
          .burger
            .burger__patty
            .burger__patty
            .burger__patty
          nav.menu
            .menu__brand
              a(href='')
                .logo
            ul.menu__list
              .logo-M
                img(src="img/logo_ok.svg", alt="")
              li.menu__item(style="display:none;")
                a.menu__link.menu__link(href='') INICIO
              li.menu__item
                a.menu__link(href='') COMO ELEGIR
              li.menu__item
                a.menu__link(href='') CALEFACCIÓN CENTRAL          
              li.menu__item
                a.menu__link.menu__link(href='') RECAMBIO DE CALDERA          
              li.menu__item
                a.menu__link.menu__link(href='') ESTUFAS
              li.menu__item
                a.menu__link.menu__link(href='') SOLICITAR
              li.menu__item
                a.menu__link.menu__link(href='') INICIO
              .adress
                ul
                  a(href='') Llámenos al <span>600 3378000</span>
                  a(href='') Desde celulares al <span>2 2337 8000</span>   

                


          //- .logo-mobile
          //-   img(src="img/logo_ok.svg", alt="Metrogas")
        //-.ed-item.web-80.main-end.cross-center
          | Versión 1.2
    section
      .ed-container.full
        .ed-item.web-100.no-padding.hd-100
          .banner
            img(src="img/caldera-img.jpg", alt="una caldera es más que seguridad")
          .claim-banner
            h1 UNA CALDERA ES 
              span MÁS SEGURIDAD
            p DESDE 2.500.000 CON INSTALACIÓN.
            hr
            ul.data-product
              li 
                span.bullet-one
                |El gas Natural es más económico que otros combustibles
              li 
                span.bullet-two
                |Produce 0% contaminación intradomiciliaria
              li 
                span.bullet-three
                |No produce humedad dentro de tu hogar
              li 
                span.bullet-four
                |Disfrutas de suministro continuo
              //- li.bullet El gas Natural es más económico que otros combustibles
              //- li.bullet Produce 0% contaminación intradomiciliaria
              //- li.bullet No produce humedad dentro de tu hogar 
              //- li.bullet Disfrutas de suministro continuo

    section.bread
      .ed-container
        .ed-item.web-100.no-padding
          .breadcrumb
            ul
              li
                a(href="#") SISTEMAS DE CALEFACCIÓN /
              li
                a(href="#") CALDERAS
              li
                a(href="#") / JUNKERS CERACLASS ZW 24-2 KE 
            //- li
            //-   a(href="#") Sistemas de Calefacción / Calderas
    section.main

      .ed-container
        .ed-item.base-100.web-75.no-padding
          h1 CALDERAS
        .ed-item.base-100.web-25.no-padding
          .filter
            input(type="checkbox",id="checkbox_toggle")
            label(for="checkbox_toggle") filtrar por marca
              i.ion-arrow-down-b
            ul
              li
                a(href="#") atron
              li
                a(href="#") ariston
              li
                a(href="#") baxi
              li
                a(href="#") fondital
              li
                a(href="#") junkers
              li
                a(href="#") rinai
              li
                a(href="#") ursus trotter
              li
                a.bold-center(href="#") ver todos los productos
    section.mainban 
      .ed-container
        .ed-item.web-100
          .prod-single--ban
            .box-item-single--ban
              .prod-single__img--ban.addGray
                img(src="img/calefont.png", alt="Junkers, CERACLASS ZW 24-2 KE")
                .item-gif-destacados
                  img(src="img/regalo.png", alt="Regalo giftcard metrobolsas")
                .item-instalacion-destacados
                  p Instalación incluida 
                    sup *1
              .infoMobile
                h1 RINNAI-DYNAMO 15
                p CERACLASS ZW 24-2 KE
                h3 Págala 48 Cuotas de $16.265
                p.interes Tasa interés 0,69% | CAE 8,7% Costo Total: $780.731



            .box-item-single--ban
              .box-item-single__data_gray--ban.addGray
                p.cuotas--ban Págalas hasta en 48 Cuotas

                .img-targ-bancos--ban
                  img(src="img/tarjetas.png", alt="")
                p.texto-bajada--ban Paga desde 25 hasta 48 cuotas con tasa preferencial 0,69% <span>Promoción exclusiva con Tarjetas de Crédito Platinum y WorldMember Santander LATAM Pass(2) Además, acumulas el DOBLE de KMS. LATAM Pass.</span>
              .otros-medios--ban
                p También puedes pagar con otros medios de pago
                .otros-medios-img
                  img(src="img/medios.png", alt="También puedes pagar con otros medios de pago")

            .box-item-single--ban
              .banner-aside
                img(src="img/banner-side.jpg", alt="")
              a.solicitar--ban(href="#") Solicitar

    section
        .ed-container
          .ed-item.web-100
            .prod-bttm
              .item-productos
                .item
                  .item-gift
                    img(src="img/regalo.png", alt="Regalo giftcard metrobolsas")
                  .item-instalacion
                    p Instalación incluida 
                      sup *1
                  .img-prod
                    img(src="img/calefont.png", alt="Junkers, CERACLASS ZW 24-2 KE")
                  h2 Junkers
                  p.model CERACLASS ZW 24-2 KE
                  h3 Págala hasta en<sup class="sup">*2</sup> 48 Cuotas.
                  a.seeBtn(href="#") Ver más
                  p REGALO DE GAS NATURAL 1000 m3 : 
                    span $598.000
                .item
                  .item-gift
                    img(src="img/regalo.png", alt="Regalo giftcard metrobolsas")
                  .item-instalacion
                    p Instalación incluida 
                      sup *1
                  .img-prod
                    img(src="img/calefont.png", alt="Junkers, CERACLASS ZW 24-2 KE")
                  h2 Junkers
                  p.model CERACLASS ZW 24-2 KE
                  h3 Págala hasta en<sup class="sup">*2</sup> 48 Cuotas.
                  a.seeBtn(href="#") Ver más
                  p REGALO DE GAS NATURAL 1000 m3 : 
                    span $598.000
                .item
                  .item-gift
                    img(src="img/regalo.png", alt="Regalo giftcard metrobolsas")
                  .item-instalacion
                    p Instalación incluida 
                      sup *1
                  .img-prod
                    img(src="img/calefont.png", alt="Junkers, CERACLASS ZW 24-2 KE")
                  h2 Junkers
                  p.model CERACLASS ZW 24-2 KE
                  h3 Págala hasta en<sup class="sup">*2</sup> 48 Cuotas.
                  a.seeBtn(href="#") Ver más
                  p REGALO DE GAS NATURAL 1000 m3 : 
                    span $598.000
    section
      ed-container
        .ed-item-web-100
            .item-productos-center
                .item-center-center
                  .item-gift-center
                    img(src="img/regalo.png", alt="Regalo giftcard metrobolsas")
                  .item-instalacion-center
                    p Instalación incluida 
                      sup *1
                  .img-prod-center
                    img(src="img/calefont.png", alt="Junkers, CERACLASS ZW 24-2 KE")
                  h2 Junkers
                  p.model-center CERACLASS ZW 24-2 KE
                  h3 Págala hasta en<sup class="sup-center">*2</sup> 48 Cuotas.
                  a.seeBtn-center(href="#") Ver más
                  p REGALO DE GAS NATURAL 1000 m3 : 
                    span $598.000

                .item-center-center
                  .item-gift-center
                    img(src="img/regalo.png", alt="Regalo giftcard metrobolsas")
                  .item-instalacion-center
                    p Instalación incluida 
                      sup *1
                  .img-prod-center
                    img(src="img/calefont.png", alt="Junkers, CERACLASS ZW 24-2 KE")
                  h2 Junkers
                  p.model-center CERACLASS ZW 24-2 KE
                  h3 Págala hasta en<sup class="sup-center">*2</sup> 48 Cuotas.
                  a.seeBtn-center(href="#") Ver más
                  p REGALO DE GAS NATURAL 1000 m3 : 
                    span $598.000

       


      







      //- .ed-container
      //-   .ed-item.base-100.no-padding.web-100
      //-     .paginator
      //-       ul
      //-         li
      //-          a(href="#") MODELO
      //-            span << ANTERIOR
      //-         li
      //-           a(href="#") 
      //-             span.verAlign VOLVER
      //-         li
      //-          a(href="#") MODELO
      //-            span SIGUIENTE >>
      //- .ed-container
      //-   .ed-item.base-100.no-padding.web-100
      //-     .paginator-full
      //-       ul
      //-         li
      //-          a(href="#") 
      //-           <strong> << ANTERIOR </strong>
      //-           |/ESTUFA JUNKER TR-4566
      //-         li
      //-           a.box-num(href="#") 1
      //-         li
      //-           a.box-num(href="#") 2
      //-         li
      //-           a.box-num(href="#") 3
      //-         li
      //-           a.box-num(href="#") 4
      //-         li
      //-           a.box-num(href="#") 5
      //-         li
      //-           a.box-num(href="#") 6
                  
      //-         li
      //-          a(href="#") ESTUFA JUNKER TR-4566 /
      //-           <strong>SIGUIENTE >> </strong>
    section.disclaim
      .ed-container.full
        .ed-item.base-100.tablet-50.no-padding
          .box-text-data
            p Solicita una asesoría 
              span y elige la calefacción perfecta para tu hogar 

        .ed-item.base-100.tablet-50.no-padding
          .box-img-data
            //- img(src="img/tipometrogas.jpg", alt="")
    section.legal
      .ed-container
        .ed-item.base-100.tablet-100
          p.first <span>*(1)</span> Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta uere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta . Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
        .ed-item.base-100.tablet-100
          p.second <span>*(2)</span> Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta uere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta . Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
    footer
      .ed-container
        .ed-item.base-100.tablet-50.no-padding
          a(href="#") Bases de la promoción
        .ed-item.base-100.tablet-50.no-padding
          .logo-footer
            img(src="img/logo_ok.svg", alt="Metrogas")









    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
