doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    title Metrogas
  body
    .top
      .ed-container
        .ed-item.web-50
          .logo-top
            img(src="img/logometrogas.png", alt="Metrogas")
        .ed-item.web-50
          .topdress
            ul
              li LLÁMENOS AL 
                span 600 3378000   
              li DESDE CELULARES AL 
                span 2 2337 8000

    header.header
      .logo-bar
        img(src="img/logo_ok.svg", alt="")
      .ed-container
        .ed-item.web-100.no-padding
          .burger
            .burger__patty
            .burger__patty
            .burger__patty
          nav.menu
            .menu__brand
              a(href='')
                .logo
            ul.menu__list
              .logo-M
                img(src="img/logo_ok.svg", alt="")
              li.menu__item(style="display:none;")
                a.menu__link.menu__link(href='') INICIO
              li.menu__item
                a.menu__link(href='') COMO ELEGIR
              li.menu__item
                a.menu__link(href='') CALEFACCIÓN CENTRAL          
              li.menu__item
                a.menu__link.menu__link(href='') RECAMBIO DE CALDERA          
              li.menu__item
                a.menu__link.menu__link(href='') ESTUFAS
              li.menu__item
                a.menu__link.menu__link(href='') SOLICITAR
              li.menu__item
                a.menu__link.menu__link(href='') INICIO
              .adress
                ul
                  a(href='') Llámenos al <span>600 3378000</span>
                  a(href='') Desde celulares al <span>2 2337 8000</span>   

                


          //- .logo-mobile
          //-   img(src="img/logo_ok.svg", alt="Metrogas")
        //-.ed-item.web-80.main-end.cross-center
          | Versión 1.2
    section.entrar
      .ed-container.full
        .ed-item.base-100
          .entrar-text
            h2 Entrar
            p Puedes entrar con tus datos de domicilio o puedes entrar ingresando tu número de cliente.
        .ed-item.base-100
          .botones
            a(href="#") Ingresar por dirección
            <span>O</span>
            a(href="#") Ingresar por número de cliente
        .ed-item.base-100
          form.formulario
            h5 Ingresar por dirección
            input(type="text",placeholder="Rut: 172738327-7",name="Rut")
            input(type="text",placeholder="Comuna",name="")
            input(type="text",placeholder="Calle",name="")
            input(type="text",placeholder="Número Cliente",name="Numero-cliente")
            input(type="text",placeholder="Depto/Casa",name="depto")
            input(type="submit" value="ingresar")

    section.legal
      .ed-container
        .ed-item.base-100.tablet-100
          p.first <span>*(1)</span> Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta uere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta . Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
        .ed-item.base-100.tablet-100
          p.second <span>*(2)</span> Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta uere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta . Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
    footer
      .ed-container
        .ed-item.base-100.tablet-50.no-padding
          a(href="#") Bases de la promoción
        .ed-item.base-100.tablet-50.no-padding
          .logo-footer
            img(src="img/logo_ok.svg", alt="Metrogas")









    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
