doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    title Metrogas
  body
    .top
      .ed-container
        .ed-item.web-50
          .logo-top
            img(src="img/logometrogas.png", alt="Metrogas")
        .ed-item.web-50
          .topdress
            ul
              li LLÁMENOS AL 
                span 600 3378000   
              li DESDE CELULARES AL 
                span 2 2337 8000

    header.header
      .logo-bar
        img(src="img/logo_ok.svg", alt="")
      .ed-container
        .ed-item.web-100.no-padding
          .burger
            .burger__patty
            .burger__patty
            .burger__patty
          nav.menu
            .menu__brand
              a(href='')
                .logo
            ul.menu__list
              .logo-M
                img(src="img/logo_ok.svg", alt="")
              li.menu__item(style="display:none;")
                a.menu__link.menu__link(href='') INICIO
              li.menu__item
                a.menu__link(href='') COMO ELEGIR
              li.menu__item
                a.menu__link(href='') CALEFACCIÓN CENTRAL          
              li.menu__item
                a.menu__link.menu__link(href='') RECAMBIO DE CALDERA          
              li.menu__item
                a.menu__link.menu__link(href='') ESTUFAS
              li.menu__item
                a.menu__link.menu__link(href='') SOLICITAR
              li.menu__item
                a.menu__link.menu__link(href='') INICIO
              .adress
                ul
                  a(href='') Llámenos al <span>600 3378000</span>
                  a(href='') Desde celulares al <span>2 2337 8000</span>   

                


          //- .logo-mobile
          //-   img(src="img/logo_ok.svg", alt="Metrogas")
        //-.ed-item.web-80.main-end.cross-center
          | Versión 1.2
    section.pasos
      .ed-container.full
        .ed-item.base-100
          .pasos-text
            h2 Paso 1 
              span Información
            hr
            p.direccion PORTUGAL 551 DEPTO  2319
        .ed-item.base-100
          form.formulario
            label(for="") Nombre
            input(type="text",placeholder="Adriana",name="nombre")
            label(for="") Apellido Paterno
            input(type="text",placeholder="Johanes",name="apellido")
            label(for="") Apellido Materno
            input(type="text",placeholder="Diaz",name="segundoapellido")
            label(for="") Teléfono Móvil
            input(type="text",placeholder="+56976691978",name="movil")
            label(for="") Dirección correo electrónico
            input(type="text",placeholder="ejemplo@mail.com",name="email")

        .ed-item.base-100
          .pasos-text
            h2 Paso 2 
              span Metrobolsas más compradas
            hr
            p.bold Para el domicilio
            p.direccion PORTUGAL 551 DEPTO  2319
            p.indicacion No contamos con registros históricos en calefacción, por lo que no podemos hacer una recomendación.
            p.indicacion La siguiente  tabla muestra las Metrobolsas más compradas por nuestros clientes en el 2016.
      .ed-container
        .ed-item.base-100
          .bolsas-mas-compradas
            h6 Estas son las metrobolsas más compradas
            hr
            .ed-container
              .ed-item.base-100.web-30
                img(src="img/metrobolsa.png")
              .ed-item.base-100.web-30
                img(src="img/metrobolsa.png")
              .ed-item.base-100.web-30
                img(src="img/metrobolsa.png")
      .ed-container
        .ed-item.base-100
          .bolsas-elegir
            h6 Metrobolsas 
              span para elegir
            hr
        .ed-container
          .ed-item.base-100.web-100
            .bolsas-comprar
              .ed-container
                .ed-item.base-30
                  p.titulo-consumo Metrobolsa
                .ed-item.base-10
                  span.titulo-consumo 245m3
                .ed-item.base-20
                  p.numero-consumo $000.000
                .ed-item.base-20
                  input(type="submit" value="comprar")
          .ed-item.base-100.web-100
            .bolsas-comprar
              .ed-container
                .ed-item.base-30
                  p.titulo-consumo Metrobolsa
                .ed-item.base-10
                  span.titulo-consumo 245m3
                .ed-item.base-20
                  p.numero-consumo $000.000
                .ed-item.base-20
                  input(type="submit" value="comprar")
          .ed-item.base-100.web-100
            .bolsas-comprar
              .ed-container
                .ed-item.base-30
                  p.titulo-consumo Metrobolsa
                .ed-item.base-10
                  span.titulo-consumo 245m3
                .ed-item.base-20
                  p.numero-consumo $000.000
                .ed-item.base-20
                  input(type="submit" value="comprar")
          .cargar
            input(type="submit" value="cargar más metrobolsas")
    section.legal-entrar
      .ed-container.full
        .ed-item.base-100.tablet-100
          .legal
            p.first Bases y condiciones "METROBOLSAS VENTA ESPECIAL INVIERNO 2016" publicadas en www.metrogas.cl/bases_y_promociones. Vigencia de la promoción desde el 22-07-16 hasta el 05-08-16, ambas fechas inclusive, o hasta agotar stock de 15.000 Metrobolsas. (1) Cálculo en base a la diferencia entre: precio por m3 de las Metrobolsas ($510 IVA Incl.), precios de gas licuado granel (estanque) y parafina, según los precios promedios vigentes al 11-07-16, informados por la empresa EOL Research. En caso de la electricidad, precios promedio en Santiago a tarifa BT-1, vigentes a julio del 2016. Los precios de los combustibles pueden sufrir variaciones a la fecha de la compra de tu Metrobolsa.
            p.second Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      hr
      .ed-item.base-100.tablet-100
        .mapa
          h6 Sobre metrogas
          nav
            ul
              li: a(href="") Sobre Metrogas
              li: a(href="") Trabaja con nosotros
              li: a(href="") Contáctanos

          h6 Servicios
          nav
            ul
              li: a(href="") Centrogas
              li: a(href="") FONORED

          h6 De tú interés
          nav
            ul
              li: a(href="") Club Metrogas
              li: a(href="") Sabor de hogar
              li: a(href="") Revista Metrogas

          h6 Transparencia
          nav
            ul
              li: a(href="") Bases y Promociones
              li: a(href="") Términos y Condiciones
              li: a(href="") Modelo de prevención de delitos

          h6 Nuestro reconocimientos
          .ed-container
            .ed-item.base-30
              img(src="img/reconocimiento-1.png")
            .ed-item.base-30
              img(src="img/reconocimiento-2.png")
            .ed-item.base-30
              img(src="img/reconocimiento-3.png")
      hr
      .ed-item.base-100
        .datos-footer
          p Metrogas S.A | Atención al cliente: 
          p El Regidor 54, Las Condes (Metro El Golf), Santiago de Chile. 
          p Lunes a viernes de 08:30 a 19:00hrs 
          p Desde Teléfono Fijo 600 337 8000
          p Desde Celulares 02 2337 8000

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
